<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head'); %>
    <meta http-equiv="refresh" content="10" />
  </head>

  <body>
    <header><%- include("partials/header"); %></header>
    <div class="mainContainer">
      <div class="container">
        <img src="<%= data.payload.imageURL %>" alt="" style="width: 100%" />
        <div class="top-left"><%= data.payload.title %></div>
        <div class="centered"><%= data.payload.text %></div>
      </div>
    </div>

    <%- include('partials/errorMessage'); %>
  </body>
</html>
